a {
  text-decoration: none;
}
a:active {
  color: #00e;
}
a:visited:active {
  color: #551a8b;
}
a:not(.button):hover {
  text-decoration: underline;
}
body, button, input {
  font-family: segoe ui;
}
body {
  margin-left: 25;
  margin-top: 20;
}
button {
  padding: 4 10;
}
button:focus, input:focus {
  outline: none;
}
ul {
  padding-inline-start: 18px;
}
.float {
  float: left;
}