code {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
}
li:not(:last-of-type) {
  margin-bottom: 5px;
}
ol, ul {
  margin-block-start: 0;
}
ol:not(div ol), ol ul {
  padding-inline-start: 20px;
}
:is(ol, ul):has(+ hr) {
  margin-block-end: 0;
}
ol ul {
  list-style: lower-alpha;
  margin-top: 5px;
}
p:not(.p):has(+ :is(ol, ul)) {
  margin-bottom: 10px;
}
ul {
  list-style: none;
  padding-inline-start: 0;
}
.break {
  margin-bottom: 12px;
}
.collapse::after {
  transform: rotate(180deg);
}
.high, #hidden span {
  background: #ffffe0;
}
#action p {
  margin-block-end: 0;
  margin-block-start: 0;
}
#dash li::before {
  content: "-";
  margin-left: -10px;
  position: absolute;
}
#download:hover {
  background: #46a049;
}
#download::before {
  content: url(/image/download.png);
  margin-right: 10px;
  vertical-align: top;
}
#extend span {
  font-size: 14px;
  font-style: italic;
}
#hidden, #startup::after {
  transition-duration: 0.5s;
}
#hotkeys::before {
  content: url(/image/winlogo.png);
}
#icon > li {
  align-items: center;
  display: flex;
  margin-bottom: 8px;
}
#icon > li:last-child {
  margin-bottom: 0;
}
#startup:hover {
  color: #0082e0;
}
#startup::after {
  color: #5a5a5a;
  content: "\25bc";
  display: inline-block;
  font-size: 12px;
  margin-left: 5px;
  transition-property: transform;
}

/* inline */

#action {
  justify-content: initial;
  width: 100px;
}
#ahk {
  bottom: -5px;
  position: absolute;
  right: 0;
}
#bottom {
  margin-top: 20px;
  position: relative;
  text-align: center;
}
#command {
  background: #f5f4ef;
  border: 2px dashed #c9baa7;
  color: #31808c;
  font-style: italic;
  margin-block-end: 0;
  padding: 20px;
}
#download {
  background: #4caf50;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  display: inline-block;
  padding: 12px 20px;
}
#extend {
  margin-left: 4px;
  position: absolute;
}
#hidden {
  height: 0;
  overflow: hidden;
  transition-property: height;
  transition-timing-function: ease-out;
}
#key {
  margin-right: 25px;
  position: relative;
  width: 80px;
}
#plus {
  background: url(/image/plus.png);
  height: 15px;
  margin-left: 15px;
  margin-right: 15px;
  width: 15px;
}
#startup {
  color: #004c99;
  cursor: pointer;
}