code {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 2px 5px;
}
li:not(:last-of-type) {
  margin-bottom: 5px;
}
ol, ul {
  margin-block-start: 0;
  padding-inline-start: 20px;
}
:is(ol, ul):has(+ hr) {
  margin-block-end: 0;
}
p:not(#p):has(+ :is(ol, ul)) {
  margin-bottom: 10px;
}
.action {
  justify-content: initial;
  margin-left: 20px;
  width: 100px;
}
.action p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.break {
  margin-bottom: 12px;
}
.collapse::after {
  transform: rotate(180deg);
}
.plus {
  background: url(/images/plus.png);
  height: 15px;
  margin-left: 20px;
  margin-right: 20px;
  width: 15px;
}
#download:hover {
  background: #46a049;
}
#download::before {
  content: url(/images/download.png);
  margin-right: 10px;
  vertical-align: top;
}
#extend span {
  font-size: 14px;
  font-style: italic;
}
#winkey::before {
  content: url(/images/winlogo.png);
}

/* inline */

#ahk {
  bottom: -5px;
  position: absolute;
  right: 0;
}
#bottom {
  margin-top: 20px;
  position: relative;
  text-align: center;
}
#download {
  background: #4caf50;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
  color: white;
  display: inline-block;
  padding: 12px 20px;
}
#extend {
  margin-left: 4px;
  position: absolute;
}