body {
  background-attachment: fixed;
}
code {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 2 5;
}
hr {
  margin-bottom: 10;
}
li {
  margin-bottom: 5;
}
ol, ul {
  margin-top: 10;
}
ol:not(div ol), ul {
  padding-inline-start: 20px;
}
ol ul {
  list-style: lower-alpha;
  margin-top: 5;
}
ul {
  list-style: none;
}
.break, .position p {
  margin-bottom: 12;
}
.collapse::after {
  transform: rotate(180deg);
}
.hotkeys {
  align-items: center;
}
.hotkeys::before {
  content: url(/images/winlogo.png);
}
.hotkeys > div:first-child {
  background: url(/images/plus_large.png);
  height: 15;
  margin-left: 15;
  margin-right: 15;
  width: 15;
}
.i {
  font-style: italic;
}
.margin-r {
  margin-right: 2;
}
.position {
  position: absolute;
}
.position p {
  margin-block-start: 0;
}
#content, #expand::after {
  transition-duration: 0.5s;
}
#dash li::before {
  content: "-";
  margin-left: -10;
  position: absolute;
}
#expand::after {
  color: #5a5a5a;
}
#expand::after {
  content: "\25bc";
  display: inline-block;
  font-size: 12;
  margin-left: 5;
  transition-property: transform;
}
#expand:hover {
  color: #0082e0 !important;
}
#extend span {
  font-size: 14;
}
#icon > li {
  align-items: center;
  display: flex;
  margin-bottom: 10;
}
#icon > li:last-of-type {
  margin-bottom: 0;
}