code {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
  padding: 2 5;
}
.add {
  margin-left: 5;
  margin-right: 5;
}
.break {
  margin-top: 10;
}
.margin {
  margin-right: 2;
}
.plus {
  border: 1px solid;
  border-radius: 100%;
  height: 13;
  margin-left: 10;
  margin-right: 15;
  position: relative;
  width: 13;
}
.plus::before, .plus::after {
  background: black;
  bottom: 0;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
}
.plus::before {
  margin: 2 auto;
  width: 1;
}
.plus::after {
  height: 1;
  margin: auto 2;
}
.position {
  position: absolute;
}
.position p {
  margin-block-end: 0;
  margin-block-start: 0;
}
.position p:not(:last-of-type) {
  margin-bottom: 10;
}
.winkey {
  align-items: center;
}
.winkey::before {
  content: url(/images/winlogo.png);
}