div {
  margin-left: 20px;
}
#github:hover {
  background: #f3f4f6;
}
#github::before {
  content: url(/images/github.png);
  margin-right: 8px;
  vertical-align: -2px;
}

/* inline */

#bottom {
  position: relative;
  text-align: center;
}
#donate {
  margin-top: 5px;
  position: absolute;
  right: 0;
}
#github {
  background: #f6f8fa;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  color: #24292f;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  padding: 5px 10px;
}