div {
  margin-left: 20px;
}
#github:hover {
  background-color: #f3f4f6;
}
#github:active {
  background-color: #ebecf0;
}

/* inline */

#donate {
  margin-top: 25px;
  text-align: center;
}
#github {
  background: url(/image/github.png) 10px 7px no-repeat #f6f8fa;
  border: 1px solid rgba(27, 31, 36, 0.15);
  border-radius: 6px;
  box-shadow: 0 1px 0 rgba(27, 31, 36, 0.04), inset 0 1px 0 rgba(255, 255, 255, 0.25);
  color: #24292f;
  font-size: 14px;
  font-weight: 500;
  height: 20px;
  padding-bottom: 5px;
  padding-left: 32px;
  padding-right: 10px;
  padding-top: 5px;
  position: absolute;
  right: 50px;
}