a {
  text-decoration: none;
  text-underline-offset: 4px;
}
a[href="/"] {
  background: url(/image/return.png);
  height: 20px;
  position: absolute;
  width: 20px;
}
a:not(.button):hover {
  text-decoration: underline;
}
a[target=_blank]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-left: 5px;
}
body {
  background: url(/image/bg.svg) fixed;
  background-size: cover;
  font-family: segoe ui;
  margin-bottom: 25px;
  margin-top: 25px;
}
hr {
  background: linear-gradient(to right, #ccc, #333, #ccc);
  border: none;
  height: 1px;
  margin-top: 15px;
}
hr + p {
  margin-block-start: 0;
}
img:has(+ :is(a, span)) {
  margin-right: 8px;
}
main {
  background: white;
  border: 1px outset rgba(193, 202, 214, 0.3);
  border-radius: 20px;
  box-shadow: 0 4px 12px -5px rgba(62, 65, 90, 0.1);
  margin-left: auto;
  margin-right: auto;
  padding: 30px 50px;
  width: 550px;
}
main > p:first-of-type {
  justify-content: center;
  margin-block-start: 0;
}
main > p:last-child {
  margin-block-end: 0;
}
p:has(+ hr) {
  margin-block-end: 0;
}
p:has(img + :is(a, span)) {
  align-items: center;
  display: flex;
}
.break {
  flex-basis: 100%;
}
.flex {
  display: flex;
  flex-wrap: wrap; /* used for line breaks */
  justify-content: center;
}