li {
  margin-bottom: 10;
}
ul {
  padding-inline-start: 18px;
}
.heading {
  color: #c23b2c;
  font-weight: 500;
  margin-top: 20;
}
.key {
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: 0 1px 0 rgba(0,0,0,0.2);
  padding: 2 5;
}
#buttons {
  margin-top: 20;
}
#buttons a {
  -webkit-appearance: button;
  font-size: 16;
  padding-bottom: 12;
  padding-right: 20;
  padding-top: 12;
  position: relative;
}
#buttons a:hover {
  text-decoration: none;
}
#buttons div {
  left: 20;
  position: absolute;
}
#donate {
  background-color: #ffc439;
  color: black;
  padding-left: 51;
}
#donate div {
  background-image: url(/images/paypal.png);
  height: 24;
  width: 21;
}
#download {
  background-color: #4caf50;
  color: white;
  margin-right: 10;
  padding-left: 50;
}
#download div {
  background-color: white;
  height: 20;
  -webkit-mask-image: url(download.svg);
  width: 20;
}
#hotkeys code, #hotkeys img:not(:last-child) {
  margin-right: 10;
}
#hotkeys img {
  object-fit: contain;
  vertical-align: middle;
}
#hotkeys span {
  line-height: 22px;
}
#windows {
  background-image: url(/images/windows.png);
  height: 25;
  position: absolute;
  right: 10;
  top: 10;
  width: 26;
}