a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  background-color: #faf0d9;
  font-family: segoe ui;
  margin-bottom: 30;
  margin-top: 30;
}
body p:first-of-type {
  margin-block-start: 0;
}
main {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  margin-left: auto;
  margin-right: auto;
  padding: 25 30;
  position: relative;
  width: 580;
}
main::before {
  border-radius: 100px / 10px;
  bottom: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  content: "";
  left: 10;
  position: absolute;
  right: 10;
  top: 50%;
  z-index: -2;
}
.break {
  width: 100%;
}
.center {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}