a {
  text-decoration: none;
}
a:not(.a):not(.button)[target=_blank]::after {
  content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAQElEQVR42qXKwQkAIAxDUUdxtO6/RBQkQZvSi8I/pL4BoGw/XPkh4XigPmsUgh0626AjRsgxHTkUThsG2T/sIlzdTsp52kSS1wAAAABJRU5ErkJggg==);
  margin-left: 5;
}
a:not(.button):hover, span[title] {
  text-decoration: underline;
}
body {
  background-color: #e6e6e6;
  font-family: segoe ui;
  margin-bottom: 30;
  margin-top: 30;
}
li {
  margin-bottom: 10;
}
main {
  background-color: white;
  box-shadow: 0 1px 4px rgba(0,0,0,0.3), 0 0 40px rgba(0,0,0,0.1) inset;
  margin-left: auto;
  margin-right: auto;
  padding: 25 30;
  position: relative;
  width: 640;
}
main::before {
  border-radius: 100px / 10px;
  bottom: 0;
  box-shadow: 0 0 15px rgba(0,0,0,0.6);
  content: "";
  left: 10;
  position: absolute;
  right: 10;
  top: 50%;
  z-index: -2;
}
main > a:first-of-type {
  background-image: url(/images/home.png);
  height: 15;
  position: absolute;
  right: 30;
  width: 16;
}
main > p:first-of-type {
  margin-block-start: 0;
  text-align: center;
}
main > p:first-of-type:not(.p) {
  font-size: 18;
}
main > p:last-child {
  margin-block-end: 0;
  margin-top: 15;
  text-align: center;
}
ol {
  padding-inline-start: 18px;
}
span[title] {
  cursor: help;
}
.break {
  width: 100%;
}
.button {
  background-repeat: no-repeat;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.2), 0 1px 5px 0 rgba(0,0,0,0.12);
  display: inline-block;
}
.download {
  background-color: #4caf50;
  background-image: url(/images/download.png);
  background-position: 20;
  color: white;
  padding: 12 20 12 50;
}
.download:hover {
  background-color: #46a049;
}
.flex {
  display: flex;
  justify-content: center;
}
.heading {
  color: #c23b2c;
  font-weight: 500;
  text-transform: uppercase;
}
.icon, .icon + span {
  vertical-align: middle;
}
.icon {
  margin-right: 8;
}
.resize {
  height: 20;
  width: 20;
}