body {
  margin-left: 12px;
  margin-top: 12px;
}
p, #repeat {
  visibility: hidden;
}
textarea {
  display: block;
  height: 150px;
  margin-bottom: 15px;
  max-height: 750px;
  min-height: 150px;
  padding: 10px;
  resize: vertical;
  width: 475px;
}
textarea:focus {
  outline: none;
}